<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello</title>
</head>
<body>
<div>用户打印内容:   {{ .msg1 }}</div>
<div>用户图片:   {{ .msg2 | safe }}</div>
</body>
</html>